/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'NexaRegular';
    src: url('original_NexaRegular.eot?#iefix') format('embedded-opentype'), 
         url('original_NexaRegular.woff') format('woff'),
         url('original_NexaRegular.ttf') format('truetype'),
         url('original_NexaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}